@import "tailwindcss";

:root {
  --background: #FDFBF7;
  --foreground: #1E120C;
}

@theme {
  --color-almond: #FDFBF7;
  --color-latte: #F3EFE9;
  --color-espresso: #1E120C;
  --color-walnut: #6B594F;
  --color-muted-tan: #DCD5CC;
  --color-caramel: #8C5E43;
  --color-caramel-hover: #734B34;
  --color-espresso-hover: #332015;
}

body {
  background-color: var(--color-almond);
  color: var(--color-espresso);
  font-family: var(--font-sans);
}

